    <div class="flex">
        <div class="h-screen flex items-center py-8 overflow-y-auto bg-white border-l px-3 border-r  w-72 dark:bg-gray-900 dark:border-gray-700">
            <div class=" max-w-lg mx-auto md:max-w-2xl  mt-6 min-w-0 break-words bg-white w-full mb-6  rounded-xl ">
                <div class="px-6">
                    <div class="text-center mt-2">
                        <div class="w-full">
                            <div class="mx-auto">
                                <img src="https://github.com/creativetimofficial/soft-ui-dashboard-tailwind/blob/main/build/assets/img/team-2.jpg?raw=true" class="shadow-xl rounded-full mx-auto align-middle border-none  max-w-[150px]"/>
                            </div>
                        </div>
                        <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">Mike Thompson</h3>
                        <div class="text-xs mt-0 mb-2 text-slate-500 tracking-widest font-medium uppercase">
                            <p>john.doe&gmail.com</p>
                            <p>05443225533</p>
                        </div>
                        <div class="w-full text-center ">
                                <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                                    <div class="p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">3,360</span>
                                        <span class="text-sm text-slate-400">Subjects</span>
                                    </div>
                                    <div class="p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">2,454</span>
                                        <span class="text-sm text-slate-400">Classes</span>
                                    </div>

                                    <div class="p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">564</span>
                                        <span class="text-sm text-slate-400">Students</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-screen py-8 overflow-y-auto bg-white  dark:bg-gray-900 dark:border-gray-700">
            <div class="max-w-lg mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6  rounded-xl">
                <div class="px-6">
                    <h3 class="text-xl text-slate-700 font-bold leading-normal mb-1">About</h3>
                    <p class="text-sm text-slate-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>